.TodoTemplateWrapper {
    .TodoTemplate {
        width: 512px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6rem;
        border-radius: 4px;
        overflow: hidden;
        .app-title {
            background: #22b8cf;
            color: white;
            height: 4rem;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .content {
            background: white;
        }
    }
}

.TodoInsertWrapper {
    .TodoInsert {
        display: flex;
        background: #495057;
    }
    input {
        background: none;
        outline: none;
        border: none;
        padding: .5rem;
        font-size: 1.125rem;
        line-height: 1.5;
        color: white;
        &::placeholder {
            color: #dee2e6;
        }
        flex: 1;
    }
    button {
        background: none;
        outline: none;
        border: none;
        background: #868e96;
        color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .1s background ease-in;
        &:hover {
            background: #adb5bd;
        }
    }
}

.TodoList {
    min-height: 320px;
    max-height: 513px;
    overflow-y: auto;
}